<!DOCTYPE html>
<html>
    <head>
        <title>EAT DA BURGER!</title>
        <link rel="stylesheet" href="/../public/assets/css/burger_style.css">
    </head>
    <body>
        {{{ body }}}
    </body>
</html>